<div>
  <h1 class="text-md font-bold text-gray-900">Workspace Settings</h1>
  <p class="mt-1 text-sm text-gray-500">
    This profile is your global profile, that is used in any team you are part
    of.
  </p>
</div>

<div class="space-y-4 mt-8">
  <h2 class="text-md font-semibold">Details</h2>
  <p class="text-sm text-gray-500">
    Update your information and manage your account settings.
  </p>

  <div class="relative w-16 h-16">
    <div
      class="bg-emerald-300 w-full h-full rounded-lg flex items-center justify-center text-xl"
    >
      EW
    </div>
    <button
      class="absolute -bottom-1 -right-1 p-1 bg-white rounded-full border shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
        />
      </svg>
    </button>
  </div>

  <form [formGroup]="workspaceForm" class="space-y-6">
    <div class="space-y-2">
      <label class="text-sm text-gray-600">Workspace Name</label>
      <input type="text" formControlName="name" pInputText class="w-full" />
    </div>

    <div class="text-sm text-gray-500">
      Account created on <span class="font-bold">Feb 17, 2025</span>
    </div>

    <div class="py-10 border-t border-gray-300">
      <div class="flex items-center justify-between">
        <div>
          <h3 class="font-medium text-red-600">Delete workspace</h3>
          <p class="text-sm text-gray-500">
            This is irreversible and will delete your workspace account
          </p>
        </div>
        <button
          type="button"
          class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700"
        >
          Delete My Account
        </button>
      </div>
    </div>

    <div
      class="flex items-center justify-end gap-4 pt-4 border-t border-gray-300"
    >
      <button
        type="button"
        class="px-4 py-2 bg-gray-100 rounded-lg hover:bg-gray-200"
      >
        Close
      </button>
      <button
        type="submit"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
      >
        Save
      </button>
    </div>
  </form>
</div>
