/* @import "tailwindcss";
 */
 @import "tailwindcss";
@import "tailwindcss-primeui";

html {
  background-color: #f2f2f2;
}

.p-dialog-title {
  font-weight: var(--p-dialog-title-font-weight);
  font-size: 1rem !important;
}
